.text-c1{
    color: #C1C1C1;
}
.btn{
    padding: 16px 32px;
    border-radius: 16px;
    border:1px solid #fff;
}
.btn-main:hover{
    color: #62DB54 !important;
    border:1px solid #62DB54 !important;
}
.course-card{
    padding: 48px;
    margin-bottom: 32px;
    background-color: $background-color;
    border-radius: 16px;
    img{
        width: 100%;
        height: 100px;
    }
    .btn{
        padding: 8px 48px;
    }
}
@media(max-width:768px){
    .course-card{
        flex-direction: column;
        align-items: center;
    }
}
.course-card-header{
    width: 100px;
}
.course-card-content{
    width: 576px;
}
.course-card-footer{
    width: 168px;
}
@media(max-width:768px){
    .course-card-header{
        width: 100px;
    }
    .course-card-content{
        width: 100%;
    }
    .course-card-footer{
        width: 100%;
    }
}
.course-card:hover{
    padding: 47px;
    border:1px solid #62DB54;
}