.profile-card{
    border-radius: 16px;
}

.course-teacher{
    border-radius: 16px;
}
.course-learn{
    border-radius: 16px;
}
.list-style-quare{
    padding-left: 1.15rem;
    list-style: square;
    color: #62DB54;
}
.course-learn-title::before{
    content: "";
    border-left: 2px solid #62DB54;
    margin-right: 8px;
}
.price-selector{
    padding: 40px 32px;
    border: 1px solid #fff;
}
.price-selector li:hover{
    p{
        color:#62DB54 !important;
    }
}
.circle{
    padding: 15px;
    border-radius: 50%;
    border:0;
}
.btn-icon{
    top: 10%;
    left: 12%;
    cursor: pointer;
}